{
  "packages": [],
  "lastChangelogVersion": "0.84.2",
  "theme": "vibrant",
  "defaultProvider": "notable-anthropic-vertex",
  "defaultModel": "claude-opus-5",
  "quietStartup": false,
  "doubleEscapeAction": "tree"
}
